<nav class="navbar navbar-expand-lg navbars ">
        

  <div class="container-fluid">
    <a class="navbar-brand " href="#"><img class="santhiya" src="logo.png" alt=""></a>
    <div class="search-container">
      <input type="text" class="search-box" placeholder="Search...">
      <button class="search-button">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149852.png" alt="Search">
      </button>
    </div>
    
    
    <button class="btn_login"><img src="profile-circle-svgrepo-com.svg" alt="" width="30px" height="30px">LOGIN</button>

    <button class="btn" style="position: relative;"><img src="icons8-shopping-cart-64.png" alt=""
        width="30px" height="30px">
      <span class="position-absolute top-20 translate-middle badge rounded-pill"
        style="top: 13px; right: 5px; background-color: #1ab69d; color: white; width: 15px;height: 15px;">
        <div class="container-fluid"></div>
        
        
        <span class="visually-hidden">unread messages</span>
      </span>
    </button>
    
  </div>
</nav>

<router-outlet></router-outlet>