<div class="container-fluid homepage">

    <div class="container category">
        <div class="cat"  *ngFor="let data of category">
            <img [src]="data.Image" alt="{{ data.title }}" class="cat_img">
            <p class="cat_title">{{data.title}}</p>
            
        </div>
    </div>

    <section>

        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" *ngFor="let banners of banner">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img [src]="banners.Image1" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="banners.Image2" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img [src]="banners.Image3" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>

</div>